<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pico Montaña</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">Turismo de Alta Montaña</h2>
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="/login" class="inicio-put">Inicia Sesion</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <video src="/img/video3 (2).mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>PICO</h2>
            <h3>MONTAÑA</h3>
            <p>Somos una plataforma de viajes que brinda los mejores servicios
                turísticos superando las expectativas de nuestros clientes
            dando a conocer las riquezas de nuestro Tolima y destinos exóticos.
        Descubre mas a fondo todo lo que te podemos ofrecer para hacer un excelente viaje.</p>
            <a href="/quienesomos">Explorar</a>
        </div>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>
    <script src="/js/main.js"></script>

</body>
</html>

